{% extends 'cscr/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>introduction</title>
</head>
<body>
	{% block content %}
	 <div class="container">
	 	<h2>簡介</h2>
	 	 <p>
	 	 	【歷史沿革】 
			「宗教研究」在西方學術界已有一段長期的發展，近來因受「地球村」思想、多元文化主義、地域主義、政經衝突、科技整合等因素的影響，宗教研究愈加受到重視。台灣社會在急速發展後，政治、經濟、教育及各類觀念與思想潮流等進展迅速，許多宗教團體與宗教活動也大為興起，對社會各層面都產生深刻的影響。若欲了解台灣的現在與未來，宗教實扮演不容忽視的角色。

			政治大學歷來以人文與社會科學的學術研究為主，其中隸屬於這些院系的教師，有許多多年來即從事宗教理論與實際的調查研究。而目前隨著學術風氣的開放，學科整合的需求，以及國內各類宗教團體快速的興起，彼此之間相互的激盪，早幾年一些有心的教師乃結合校外學者，於1996年3月成立「宗教研究中心」，試圖從宗教、哲學、史學、文學、社會學、人類學等不同的角度，進行跨科際的宗教研究，藉以整合不同學術領域的人才，期望能推展並提升研究風氣，進而推動台灣的宗教研究。十餘年來「宗教研究中心」的各項活動，成效顯著，頗獲學界的肯定，也引起其他教授與年輕學子對此一學術領域的興趣。

			面對全球化的國際趨勢，華人宗教在台灣自由發展，並將宗教傳布於海外，開枝散葉遍於各國：如漢傳佛教、道教信仰，特別是一貫道、天帝教等教派、新興宗教，都能以宗教事業而推行民間的外交。這樣國內、外的大力推展，都能夠因應現代化與全球化的時代潮流，調和傳統與現代性、全球化與在地化的矛盾，在亞洲地區成為轉型成功的宗教經驗。台灣在華人世界所發展的宗教成就別具特色，而在學術上也發展其宗教學術的優勢，在華人世界中足可引以為傲。當前有鑑於國內、外宗教學界與宗教界的形勢丕變，故調整原有設置的目標，期望展開新一階段的發展，乃轉型為「華人宗教研究中心」。即以華人宗教（包含所有華人所信仰的宗教）進行專門的研究，整合政大內部豐富的人文、社會學科資源，更可跨越校際，整合國內外相關的學術資源。本中心將持續創造並推動華人宗教研究，期以創造政大及國內在宗教研究領域上的領先優勢。

			【成立宗旨】 
			本中心期以整合本校和不同宗教、學校、社團等領域相關研究的人力資源為重點，推動以華人宗教為核心之宗教史、宗教理論、宗教現象以及相關之學術研究。在學術成果的展示上，發行學術刊物、設置學術網站，建立學界以華人宗教為議題的學術交流平台，並與國內外各宗教研究之學術團體相互交流，為國內建置一大型的資料庫與網站連結，未來的發展方向就是成為國內外可以公開使用的學術中心。
	 	 </p>
	 </div>

	{% endblock %}
	
</body>
</html>