{% extends  'cscr/base.html' %}
{% load static %}

{% block content%}


	 <div class="main">
	 	<div class="container">

	 		
	 			<div id="submenu">
	 				<h2 style="color: white;"><span>中心人員</span></h2>
	 				<div id="submenu_b">
		 				<ul id="ul_submenu_0" class="">
		 				<li class="odd">
		 				<span ><a  style=" color: white;" href=""><span>主任與研究人員</span></a>
		 				</span></li>
		 				<li><span><a  style=" color: white;" href="/"><span>行政人員</span></a></span></li>
		 				<li class="odd"><span><a style=" color: white;" href="/"><span>諮詢委員</span></a></span></li>
		 				<li><span><a  style=" color: white;" href="/"><span>訪問學人</span></a></span></li>
		 				</ul>
	 				</div>
	 			</div>
	 		
	 		<div class="teacher_main">
	 			
				<h4 style="padding-top:10px;"">主任與研究人員</h4>

				<!--list開始-->
				<div class="teacher_list">
					<!--info開始-->
					<div class="info">
						<li><strong>李玉珍</strong>     副教授兼中心主任</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="dharma0958@gmail.com">  dharma0958@gmail.com</a></span></li>
						<img class="media-object" src="{% static 'cscr/img/master.JPG' %}" alt="image" style="position: right;width:50px; height: 50px;">
					</div>

					<!--info結束-->
				</div>

				<!--list結束-->


				<!--list開始 -->
				<h4 style="padding-top: 10px;">研究人員</h4>
				<div class="teacher_list">
					<!--info開始-->
					<div class="info">
						<li><strong>李豐楙</strong>　  講座教授</li>
						<li>研究專長：楚辭、道教文學</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="29391897@nccu.edu.tw">  29391897@nccu.edu.tw</a></span></li>
						<li>辦公室電話:88092</li>
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>謝世維</strong>　  教授</li>
						<li>研究專長：道教經典與文獻、佛教道教交涉研究、中國宗教研究</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="hsiehben@hotmail.com">  hsiehben@hotmail.com</a></span></li>						
						<li>辦公室電話:69235</li>
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>安東尼奧德落內</strong>　 助理教授</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="aterrone@nccu.edu.tw">  aterrone@nccu.edu.tw</a></span></li>
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>林敬智</strong>　  　助理教授級約聘教學人員</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="cclin52@gmail.com">  cclin52@gmail.com</a></span></li>
						<li>辦公室電話:69511</li>
					
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>耿晴　</strong>　  副教授</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="ckeng@nccu.edu.tw">  ckeng@nccu.edu.tw</a></span></li>
						<li>辦公室電話:66047</li>
					</div>
					<!--info結束-->
					
					<!--info開始-->
					<div class="info">
						<li><strong>蔡彥仁　</strong>　  教授</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="yztsai@nccu.edu.tw">  yztsai@nccu.edu.tw</a></span></li>
						<li>辦公室電話:66047</li>
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>林長寬</strong>　  副教授</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="ncklin@nccu.edu.tw">  ncklin@nccu.edu.tw</a></span></li>
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>郭承天</strong>　  教授</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="ctkuo@nccu.edu.tw">  ctkuo@nccu.edu.tw</a></span></li>
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>黃柏棋　</strong>　  副教授</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="huang9@nccu.edu.tw">  huang9@nccu.edu.tw</a></span></li>
					</div>
					<!--info結束-->

					<!--info開始-->
					<div class="info">
						<li><strong>林鎮國　</strong>　  教授</li>
						<li class="mail"><span class="glyphicon glyphicon-send" aria-hidden="true"><a href="cklin@nccu.edu.tw">  cklin@nccu.edu.tw</a></span></li>
						<li>辦公室電話:67617</li>
					</div>
					<!--info結束-->
				</div>
					<!--list結束-->


			</div>
	 	</div>
	 	 	
	 </div>
	 <style type="text/css">
		
		.main{
			border-style: solid;
			border-color: green;
			height: 100%;
			background-color: #424242;
		}
		.container{
			background-color: white;
			width: 900px;
		}
		#submenu {

			    background: #395c54;
			    padding: 36px 0 36px 30px;
			    width: 212px;
			    float: right;
			    margin: -28px 0 0 0;
			    margin-top: 0px;
			    margin-right:-15px ;
			}



		#submenu li {
			    margin: 0 0 6px 0;
			    padding: 0 0 6px 0;
			    overflow: hidden;
			    border-bottom: 1px solid #476d64;

			}

		.info{
				width: 70%;
				padding: 10px;
				border-style: solid;
				border-width: 1px;
				border-color: #E0E0E0;
				margin: 20px;
		}
		li{
			list-style: none;
			margin:0 0 10px 0;
		}
		span .glyphicon glyphicon-send{
			margin-right:  10px;
		}

		
	</style>

	


　　　



　　






















{% endblock%}