{% extends  'cscr/base.html' %}
{% load static %}

{% block content%}

<div class="main">
	 	<div class="container">
	 		<div class="project_holder">
	 			<img src="{% static 'cscr/img/master.JPG' %}" />
	 			<div class="project_info">
				
			 			<h5>計畫名稱 :</h5>
			 			<h6>公告日期：2017-5-13</h6>
			 			<p>
			 				說明現在的社會環境，以及服務對象本身的狀況，可能導致哪些問題或困境產生，
							並說明服務的對象可以用哪些處遇方式改善，基於 貴單位成立的使命宗旨與能
							力，說明本計畫將採用何種方式處遇之，最後說明執行計畫後，讓服務對象有哪
							些轉變。
			 			</p>
			 			<hr style="border-top: 1px solid #8c8b8b; position: center; ">
			 	</div><!-- project info end-->
			 </div><!-- project holder end-->

			
			<div class="project_holder">
			<img src="{% static 'cscr/img/master.JPG' %}" />
					<div class="project_info">
			 				<h5>計畫名稱 :</h5>
			 				<h6>公告日期：2017-5-13</h6>
			 				<p>
			 					說明現在的社會環境，以及服務對象本身的狀況，可能導致哪些問題或困境產生，
							並說明服務的對象可以用哪些處遇方式改善，基於 貴單位成立的使命宗旨與能
							力，說明本計畫將採用何種方式處遇之，最後說明執行計畫後，讓服務對象有哪
							些轉變。
			 				</p>

			 				<hr style="border-top: 1px solid #8c8b8b; ">
					</div><!-- project info end-->
				</div><!-- project holder end-->
		
	 
		</div><!-- container end -->
</div><!--main end-->


<style type="text/css">
	
	.main{
			border-style: solid;
			border-color: green;
			height: 100%;
			background-color: #424242;
		}
	.container{
			background-color: white;
			width: 1000px;
		}


	.project_holder img{
		float: right;
		margin: 10px 15px 15px 0; 
		width: 300px;
		clear: both;
		
	}

	.project_info {
	padding-left: 30px;
	margin-top: 25px;
	margin-left: 30px;
	float: left;
    width: 500px;
}




	
	
</style>


{% endblock %}


